<div class="encryptionStatus-container">
    <a
        class="nodecoration color-global-grey no-pointer-events-children ml0-25"
        href="https://protonmail.com/support/knowledge-base/what-is-encrypted/"
        target="_blank"
        ng-if="!displaySignatureStatus() && !message.isPGPEncrypted()"
        ng-class="{
            'color-pm-blue': message.isInternal() || message.isSentEncrypted() || message.isDraft() || message.isAuto(),
        }">
        <icon data-name="lock" data-fill="currentColor" class="mauto flex-self-vcenter alignbaseline"></icon>
    </a>

    <a
        class="nodecoration color-global-grey no-pointer-events-children ml0-25"
        href="https://protonmail.com/support/knowledge-base/how-to-use-pgp"
        target="_blank"
        ng-if="!displaySignatureStatus() && message.isPGPEncrypted()">
        <icon data-name="lock" data-fill="currentColor" class="mauto flex-self-vcenter alignbaseline"></icon>
    </a>

    <a
        href="https://protonmail.com/support/knowledge-base/digital-signature/"
        target="_blank"
        class=" no-pointer-events-children"
        ng-if="displaySignatureStatus()">
        <span class="signed-lock flex-self-vcenter"
            ng-class="{
                'valid-sig': message.verified === 1,
                'invalid-sig': message.verified !== 1,
                'internal': message.isInternal() || message.isSentEncrypted() || message.isDraft() || message.isAuto(),
                'pgp': message.isPGPEncrypted(),
        }">
            <icon data-name="lock-check" ng-if="message.verified === 1" data-fill="currentColor" class="mauto flex-self-vcenter alignbaseline"></icon>
            <icon data-name="lock-warning" ng-if="message.verified !== 1" data-fill="currentColor" class="mauto flex-self-vcenter alignbaseline"></icon>
        </span>
    </a>
</div>
