// REGULAR
.headerSecured-container {
    opacity: .999; /* stacking context, don't remove it otherwise dropdown menus will fail */
    z-index: 150;
}


// MOBILE
body.appConfigBody-is-mobile .navigationBlackFriday {list-style: none}


.headerSecuredMobile-toggleSidebar,
.headerSecuredMobile-searchBtn {
    height: 100%;
    font-size: 1.6em;
    width: 2em;
}

.headerSecuredMobile-toggleSidebar {
    //margin-right: auto;
    font-size: 2em
}

.headerSecuredMobile-searchBtn { width: 3em }



.appConfigBody-is-mobile .dropDown-content--advancedSearch {
    width: 100vw;
    right: -4.4em; // ( 2* .5em + setting icon size/padding + userdropdown + padding-right of container, etc. )
    margin-top: 2em;
    max-height: calc(100vh - #{$header-height});

    > div {
        max-height: calc(100vh - #{$header-height});
    }

    &::before {
      right: 7.5rem;
    }
}


// Composer maximized
@media (max-width: $tablet-landscape) {
    .appConfigBody-maximizedComposer .headerSecured-container,
    .appConfigBody-is-mobile .headerSecured-container {
        z-index: 100;
    }
}

.appConfigBody-is-mobile.appConfigBody-activeComposer {
    .headerSecuredMobile-compose {
        pointer-events: none
    }
}

@include respond-to(660, 'height') {
    .appConfigBody-dropdown--open .compose-fab {
        z-index: 0;
    }
}
