<div>
    <dropdown-container data-position="right">
        <dropdown-button class="appsDropdown-button" title="Proton Apps">
            <icon data-name="more" class="appsDropdown-button-icon flex-item-noshrink"></icon>
            <span class="sr-only" translate-context="Apps dropdown" translate>Applications</span>
        </dropdown-button>
        <dropdown-content class="appsDropdown-container">
            <ul class="appsDropdown-list unstyled mt0 mb0">
                <li class="dropDown-item appsDropdown-item">
                    <a class="w100 appsDropdown-link big m0 bl p1 pt0-75 pb0-75 nodecoration flex flex-nowrap flex-items-center" target="_self" href="/inbox">
                        <icon data-name="protonmail" class="mr0-5"></icon>
                        <span>ProtonMail</span>
                    </a>
                </li>
                <li class="dropDown-item appsDropdown-item">
                    <a class="w100 appsDropdown-link big m0 bl p1 pt0-75 pb0-75 nodecoration flex flex-nowrap flex-items-center" target="_self" href="/contacts">
                        <icon data-name="protoncontacts" class="mr0-5"></icon>
                        <span>ProtonContacts</span>
                    </a>
                </li>
                <li class="dropDown-item appsDropdown-item">
                    <a class="w100 appsDropdown-link big m0 bl p1 pt0-75 pb0-75 nodecoration flex flex-nowrap flex-items-center" target="_self" href="/calendar">
                        <icon data-name="protoncalendar" class="mr0-5"></icon>
                        <span>ProtonCalendar</span>
                    </a>
                </li>
            </ul>
        </dropdown-content>
    </dropdown-container>
</div>
