<dialog class="onboardingModal-container">

    <header class="pm-modalHeader">
        <button
            type="button"
            class="pm-modalClose"
            ng-click="ctrl.cancel()"
            title-translate="Close"
            title-translate-context="Action">
            <icon data-name="close" class="pm-modalClose-icon"></icon>
            <span class="sr-only" translate translate-context="Action">Close</span>
        </button>
        <h1 id="modalTitle" class="pm-modalTitle aligncenter">
            <span
                ng-if="ctrl.step === 0"
                translate-context="Title"
                translate>Welcome to ProtonMail 4.0</span>
            <span
                ng-if="ctrl.step === 1"
                translate-context="Title"
                translate>Introducing ProtonCalendar</span>
            <span
                ng-if="ctrl.step === 2"
                translate-context="Title"
                translate>Introducing dark mode</span>
            <span
                ng-if="ctrl.step === 3"
                translate-context="Title"
                translate>Have questions or feedback?</span>
        </h1>
    </header>

    <div class="pm-modalContent">
        <div class="pm-modalContentInner" ng-if="ctrl.step === 0">
            <p
                class="block-info-standard"
                translate-context="Info"
                translate>ProtonMail 4.0 is a brand new inbox that contains many new features while improving the privacy and security that Proton is known for.</p>
            <p
                class="block-info-standard"
                translate-context="Info"
                translate>Use the app switcher to quickly move between Proton apps without having to log back in.</p>
            <div>
                <img src="/assets/v4-onboad/protonmail.png" class="w100">
            </div>
        </div>

       <div class="pm-modalContentInner" ng-if="ctrl.step === 1">
            <p
                class="block-info-standard"
                translate-context="Info"
                translate>ProtonCalendar is now available in Beta. Because your calendar is encrypted, not even we can see the details of your events.</p>
            <div>
                <img src="/assets/v4-onboad/calendar.png" class="w100">
            </div>
        </div>

        <div class="pm-modalContentInner" ng-if="ctrl.step === 2">
            <p
                class="block-info-standard"
                translate-context="Info"
                translate>Our dark mode is finally here! You can use it even if your device settings are not configured for dark mode.</p>
            <p class="block-info-standard" translate-context="Info" translate>Switch dark mode on and off by going to Settings > Appearance > Themes</p>
            <div>
                <img src="/assets/v4-onboad/darkmode.png" alt="" class="w100">
            </div>
        </div>

        <div class="pm-modalContentInner" ng-if="ctrl.step === 3">
            <p class="block-info-standard" translate-context="Info" translate>Reach us from within ProtonMail 4.0, right from the top bar. Reporting a bug will send your comments directly to our team.</p>
            <div>
                <img src="/assets/v4-onboad/question.png" alt="" class="w100">
            </div>
        </div>

        <footer class="pm-modalFooter flex flex-spacebetween">
            <button
                class="pm-button"
                type="button"
                ng-click="ctrl.cancel()"
                ng-if="ctrl.step === 0"
                translate-context="Action"
                translate>Not now</button>

            <button
                class="pm-button"
                type="button"
                ng-if="ctrl.step !== 0"
                ng-click="ctrl.previous()"
                translate-context="Action"
                translate>Back</button>

            <button
                class="pm-button-blue disabled-if-network-activity"
                ng-click="ctrl.next()"
                ng-if="ctrl.step !== 3"
                translate-context="Action"
                translate>Next</button>

            <button
                class="pm-button-blue disabled-if-network-activity"
                ng-click="ctrl.cancel()"
                ng-if="ctrl.step === 3"
                translate-context="Action"
                translate>Start exploring</button>
        </footer>
    </div>
</dialog>
