<div
    id="pm_login"
    class="pm_panel pm_panel-login pm_form alt loginFormUnlock-container"
>
    <div class="pm_panel-login__inner bordered-container">
        <div class="mb2 aligncenter">
            <img src="assets/img/logo.svg" height="20" width="148" alt="ProtonMail"/>
        </div>

        <h1 class="aligncenter h4 uppercase flex flex-nowrap">
            <icon data-name="inbox" data-fill="white" class="mr0-5 mtauto mbauto mlauto flex-item-noshrink"></icon>
            <span class="mrauto mtauto mbauto" translate-context="Title" translate>Problem loading account</span>
        </h1>

        <p translate-context="Info" translate>
            ProtonMail encountered a problem loading your account. Please <a href="#" data-action="reload" class="color-white underline">refresh the
            page</a> or try again later.
        </p>
    </div>
</div>
